
body {
  background-image: url("weatherpic.jpg");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  height: var(--height);
  width: var(--width);
}

:root{
  --height:100vh;
  --width:100vw;
}

section {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  color: rgb(255, 251, 0);
  font-size: medium;
}

li {
  font-size: medium;
}


#div1 {
  position: relative; 
  display: inline-flex;
  flex-wrap: wrap;
  color: rgb(255, 0, 0);
  font-size: large;
  border-radius: 25px;
  text-align: center;
}

#cityName {
  position: relative;
  color: rgb(255, 47, 47);
  font-size: medium;
}

.search {
  display: none;
}

.search1 {
  background-color: rgba(231, 155, 12, 0.993);
  border: 4px;
  border-color: crimson;
  border-radius: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  font-weight: 800;
  font-style: italic;
}

#geo_loc:hover 
{
cursor: pointer;
    
}

.forecast{
  justify-items: center;
  padding:5px 5px 0px 5px;
}


#div6 {
  border: 2px solid orange;
}

#div7 {
  border: 2px solid orange;
}
#div8 {
  border: 2px solid orange;
}

