
body {
  background-image: url("weatherpic.jpg");
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  height: var(--height);
  width: var(--width);
}

:root{
  --height:100vh;
  --width:100vw;
}


section {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  /* justify-self: center; */
  
  /* left: calc(var(--width)*0.1); */
  /*top: 110px;
  max-width: 700px; */
  color: rgb(255, 251, 0);
  font-size: medium;
  /* border-radius: 25px;
  min-width: 300px; */
  /* max-width:calc(var(--width)*0.85); */
}

li {
  font-size: medium;
}

/* div {
  padding-right: 30px;
} */

#div1 {
  position: relative; 
  display: inline-flex;
  flex-wrap: wrap;
  /* /* top: 0px; 
   width:750px;  */
  /* left: calc(var(--width)*0.30); */
  color: rgb(255, 0, 0);
  font-size: large;
  /* background-color: slateblue; */
  border-radius: 25px;
  text-align: center;
}



#cityName {
  position: relative;
  color: rgb(255, 47, 47);
  font-size: medium;
}

.search {
  display: none;
}

.search1 {
  background-color: rgba(231, 155, 12, 0.993);
  border: 4px;
  border-color: crimson;
  border-radius: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  font-weight: 800;
  font-style: italic;
}

#geo_loc:hover 
{
cursor: pointer;
    
}

.forecast{
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  justify-items: center;
  /* background-color: blueviolet; */
  padding:5px 10px 0px 10px;
}


#div6 {
  border: 2px solid orange;
}

#div7 {
  border: 2px solid orange;
}
#div8 {
  border: 2px solid orange;
}
